dist/
.swp
*.so
*.dll
*.exe
susrat/.vs/susrat/v15/Browse.VC.opendb
susrat/.vs/susrat/v15/Browse.VC.db
*.suo
*.db
*.opendb
*.ipch
*.exp
*.ilk
*.lib
*.pdb
*.log
*.obj
*.tlog
*.lastbuildstate
*.idb
*.c
*.vcxproj
*.filters
*.C
*.tmp
